.popupBlur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* semi-transparent */
    backdrop-filter: blur(1px);
    /* effet de flou */
    z-index: 999;
}

.popupChoice {
    position: fixed;
    background: #242424;
    border: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.popupChoice>div {
    padding: 5px;
}

.popupChoice>div:hover {
    background: #add8e6;
    cursor: pointer
}

td {
    border: 1px solid;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td.inactive {
    opacity: 0.2;
    pointer-events: none;
}

td.selectable {
    opacity: 1;
    background-color: lightblue;
    color: black;
}

td.active {
    background-color: green;
    font-weight: bold;
}